<section class="about-ano" id="top">
    <div class="about-banner container">
        <img class="img-fluid" src="../../assets/images/about/service.jpg" alt="">
    </div>
    <div class="leader container">
        <div class="leader-title">
            <div class="backdrop fire">
                <h3>About Us</h3>
            </div>
        </div>

        <div class="about-para">
            <p>Our Lab has earned a reputation for the most reliable and accurate tests with the sincere efforts and hard work of the team. It is our pleasure to announce that our lab is capable of testing the majority of alloys. </p>
            <p>Our customers have their goals. We help them meet their goals. Be it metallic raw-materials or finished products, we offer a wide repertoire of testing services and solutions.</p>
            <p>Great care is taken to ensure the high levels of standards, promptness and accuracy at every stage of testing. Another characteristic we are known for is affordability. By implementing Quality Management Systems at all levels as per ISO/IEC
                17025-2017 requirements </p>
            <p>To ensure timely and technically reliable testing service as per the requirement of our customers. To grant access of the management systems documentation and related information to all personnel involved/concerned with the laboratory activities.</p>
            <p>To ensure unbiased, competent, impartial and consistent operation of the laboratory. To comply with the policies and procedures and continually review, modify and improve the effectiveness of the laboratory management systems.</p>
        </div>
    </div>
    <!-- <div class="vision container">
        <div class="aboutus-title">
            <div class="backdrop fire">
                <p class="text fire">Our Vision</p>
                <div class="fire"></div>
            </div>
        </div>
        <div class="about-para">
            <p>We strive to repair all flaws in your smartphones and tablets. Our vision is to offer top-of-the-line premium service and goods to all of our respected customers. We collaborate together with our vendors and manufacturers to ensure that we
                can deliver the highest level of efficiency and loyalty to all of our customers.</p>
        </div>
    </div> -->
    <div class="leader container">
        <div class="leader-title">
            <div class="backdrop fire">
                <h3>Our Team</h3>
            </div>
        </div>
        <div class="leader-pra">
            <p>Our leaders believe in extensive training of technicians, and they sustain an attitude of continuous learning, because no system is too modern, and no technology is too complex. </p>
            <div class="row">
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Parth Dhola</h2>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Dhruvin Tejani</h2>
                            <p>CFO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Gaurav Vadaliya</h2>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Lakshit Rangani</h2>
                            <p>Management-Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="access container">
        <div class="access-title">
            <div class="backdrop fire">
                <p class="text fire">Our Accessories</p>
                <div class="fire"></div>
            </div>
            <div class="comingsoon">
                <img class="img-fluid" src="../../assets/images/about/coming.svg" alt="">
            </div>
        </div>
        <div class="access-display">
            <div class="row">
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback container">
        <div class="feedback-title">
            <div class="backdrop fire">
                <p class="text fire">Feedback</p>
                <div class="fire"></div>
            </div>
        </div>
        <div class="feedback-para">
            <p>If you are satisfied with your quote, please review us to do better with the repairs.</p>
            <p>"Our mission is to provide a service that you can like and use on a daily basis." This is why we actively evaluate customer feedback in order to better. </p>
        </div>
        <form [formGroup]="feedback">
            <div class="feedback-input">
                <textarea name="feedback" id="feedback" formControlName="body" cols="10" rows="2" placeholder="Your Feedback..."></textarea>
                <div class="text-dangerr" *ngIf="bodyempty">
                    Enter your Msg
                </div>
                <button (click)="Submit()">
                    <!-- <img src="../../assets/images/checkout/send.svg" alt=""> -->
                    Submit
                </button>
            </div>
        </form>
    </div>
